$color_white: #ffffff;
$color_primary: #f48c7f;
$color-black: #333333;
$color_black-dark: #000000;
$color-grey: #2b2b2b;
$color-grey_2: #535353;
$color-grey_3: #4f4f4f;
$color-grey_4: #f5f6f8;
$color-grey_5: #e0e0e0;
$color-grey_6: #bdbdbd;
$color_main: #828282;
$color-green: #46c85c;
$color-gradient_1: linear-gradient(91.36deg, #f1717e -3.75%, #f59e86 99.33%);
$color-gradient_2: linear-gradient(91.36deg, #f59e86 -3.75%, #f1717e 99.33%);

$font_main: "Open Sans", sans-serif;
$font_title: "PT Serif", serif;
